<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Devdactic App</ion-title>
  </ion-toolbar>
</ion-header> -->
 
<ion-content>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Steps Cancún</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/register']">Registrate</ion-item>
        <ion-item [routerLink]="['/login']">Iniciar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-menu side="start" menuId="custom" contentId="main" class="my-custom-menu">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Steps Cancún</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/register']">Registrate</ion-item>
        <ion-item [routerLink]="['/login']">Inicicar Sesión</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-menu side="end" type="push" contentId="main">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>End Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>

  <div align="center">
    <img class="logo" src="https://i.ibb.co/gZtj8sZ/Steps-Canc-n-2.png" alt="Steps-Canc-n-2" >
  </div>
 
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group margin">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>
    <ion-button class="btn-1" type="submit" expand="block" [disabled]="!credentials.valid" shape="round">Iniciar Sesión</ion-button>

    <ion-button class="btn-1 margin" type="button" expand="block" color="tertiary" shape="round">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Inicia con Google
    </ion-button>
    <ion-button class="btn-1" type="button" expand="block" color="tertiary" shape="round">
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      Inicia con Apple
    </ion-button>
 
    <div align="center" class="margin">
      <div>¿Aun no tienes una cuenta?</div>
      <ion-button [routerLink]="['/register']" type="button"  fill="clear">Registrate
      </ion-button>
    </div>

  </form>
</ion-content>