 .input-group {
    background: #fff;
    overflow: hidden;
    margin-bottom: 15px;
    display: block;
}

.logo{
    width: 50%;
    margin-top: 30%;
}
.my-custom-menu {
    --width: 80%;
  }
 
.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-1{
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.margin{
    margin-top: 10%;
}
